@font-face {
    font-family: rustic;
    src: url(../fonts/rustic.ttf);
}

body {
    margin: 0;

    .app {
        background-color: #000;
        color: #FFF;
        font-family: rustic;
        font-size: 30px;
        padding: 50px;
        text-align: center;

        .logo {
            height: 175px;
        }

        .rotate {
            animation: spin 10s linear infinite;
        }

        h1 {
            color: #61DAFB;
            font-size: 4em;
            font-weight: normal;
            letter-spacing: 2px;
            margin: 0.16em;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.block-test-area {
    height: 100px;
    width: 100vw;
}

.block {
    height: 100px;
    width: 100px;
    display: inline-block;

//Temple
.temple{
    height:15vh;
    width:40vw;
    background-color: rgb(250, 96, 96);
    position: absolute;
    right: 0;
    top: 20%;
};

.blockContainer{
    height: 50%;
    width: 80%;
    background-color: rgb(95, 95, 255);
    position: absolute;
    top: 10%;
    left: 20%;
};
.blockTest{
    height:90%;
    width: 18%;
    position: relative;
    display:inline-block;
    background-color: chartreuse;
    margin-left: 5px;

}