body {
    margin: 0;

    .app {
        background-color: #000;
        color: #FFF;
        font-size: 30px;
        padding: 50px;
        text-align: center;

        h1 {
            color: #61DAFB;
            font-size: 4em;
            font-weight: normal;
            letter-spacing: 2px;
            margin: 0.16em;
        }
    }

    .player-container {
        height: 100px;
        width: 300px;
        padding: 5px;
        display: flex;
        flex-direction: column; 
        box-shadow: 2px 2px 2px grey; 
        background-color: #F1F1F1;

        .player-title {
            display: flex;
            justify-content: center;
            height: 33%;
            width: 100%;
            margin-bottom: -11px;

            .player-name {
                font-size: 18px;
                font-weight: bold;
                margin-top: 0.50em;
            }

            .player-icon {
                height: 116%;
                width: 12%;
                border-radius: 50px;
                margin: 4px 10px 0px -25px;
            }
        }

        .player-stats {
            display: flex;
            justify-content: space-around;
            height: 39%;
            width: 100%;
            font-size: 12px;
            padding-top: 14px;

            .player-score {
                display: inline-block;
            }
        
            .player-stonecount {
                display: inline-block;
            }
        }

        .player-btns {
            display: flex;
            justify-content: space-evenly;
            height: 33%;
            width: 100%;
            margin-top: 8px;

            .recharge-btn {
                height: 58%;
                width: 40%;
                line-height: 15px;
                font-size: 11px;
                top: 7px;
            }
            .card-btn {
                height: 58%;
                width: 40%;
                line-height: 15px;
                font-size: 11px;
                top: 7px;
            }
        }
    }   

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.block-test-area {
    height: 100px;
    width: 100vw;
}

.block {
    height: 100px;
    width: 100px;
    display: inline-block;

//Temple
    .temple{
        height:15vh;
        width:40vw;
        background-color: rgb(250, 96, 96);
        position: absolute;
        right: 0;
        top: 20%;
    };

    .blockContainer{
        height: 50%;
        width: 80%;
        background-color: rgb(95, 95, 255);
        position: absolute;
        top: 10%;
        left: 20%;
    };
    .blockTest{
        height:90%;
        width: 18%;
        position: relative;
        display:inline-block;
        background-color: chartreuse;
        margin-left: 5px;
    }
}